@import '../../styles/breakPoints'

*
  box-sizing: border-box

.container
  max-width: 1200px
  margin: 0 10px
  @media (min-width: $sm) and (max-width: $md)
    margin: 0 15px
  @media (min-width: $md) and (max-width: $lg)
    margin: 0 30px
  @media (min-width: $lg)
    margin: 0 auto
  padding: 24px
  color: rgb(108, 117,125)
  font-family: Nunito, sans-serif
  font-size: 14px
  font-weight: 400

.transactionTable
  border-spacing: 0
  width: 100%
  table-layout: fixed

.transactionTableHead, .transactionTableData
  height: 54px
  padding: 15.2px
  border: rgb(227, 234, 239) solid 1px
  overflow: hidden
  text-overflow: ellipsis

.transactionTableHead
  border: rgb(227, 234, 239) solid 1px
  border-bottom-width: 2px
  font-weight: 700

.transactionTableData
  white-space: nowrap
  &:hover
    white-space: normal
    height: auto

.noTransaction
  font-size: 18px
  font-weight: 700
  line-height: 25px
  text-align: center
  padding: 10px

.total
  display: inline-block
  font-size: 18px
  font-weight: 700
  line-height: 25px
  text-align: center
  padding: 10px

.totalContainer
  text-align: right



